
.matn{
width: 500px;
height: auto;    
}

.rasm{
width: 635px;
height: 505px;
border-left-width: 1340px;
top: 109px;
display: flex;
justify-content: flex-end ;
}



.iconka{
width: 1240px;
height: 341px;
display: flex;
justify-content: space-around; 
border-end-start-radius: 20px;   
}
